.header-container .logo {
  width: 100%;
  height: 31px;
  background: rgba(127, 181, 255,.2);  
  margin: 16px 28px 16px 0;
  float: left;
}
.header-container .nav-auth {
  float: right;
  right: 10px;
} 

.user-info {
  float: right;
  margin-top: -3px;
}
.user-info .user-avatar {
  border-radius: 50%;
}
.user-logout {
  padding: 20px;
}

.ant-layout-header {
  background: rgb(255, 255, 255);
}